*.bbl
*.aux
*.blg
*.log
*.tcp
*.pdf
*.brf
*.zip
*.synctex.gz
*.tlog
*.exe
*.obj
*.pdb
*.ele
*.node
*.poly
*.sdf
Release/
Debug/
ipch/
*.asv
*.log
*.blg
*.bbl
*.aux
*.now
*.out
*.filters
*.users
*.user
*.suo
*.pfx
*/old/*
*/auto/*
*~
